<h2>Sign In With:</h2>
<ul>
	<li><%= link_to "Facebook", "/auth/facebook" %></li>
	<li><%= link_to "Gmail", "/auth/google" %></li>
	<li><%= link_to "Twitter", "/auth/twitter" %></li>
	<li><%= link_to "Foursquare", "/auth/foursquare" %></li>
	<li><%= link_to "Netflix", "/auth/netflix" %></li>
	<li><%= link_to "Vimeo", "/auth/vimeo" %></li>
</ul>