<% if current_user %>

	<% if current_user.voted_for?(comment) %>
	
		<div id="vote_up"><%= link_to '+', comment_remove_vote_up_path(:comment_id => comment.id), :style => 'color:orange;', :remote => true %></div>
		<h5><%= comment.votes_up - comment.votes_down %></h5>
		<div id="vote_down"><%= link_to '-', comment_reverse_vote_up_path(:comment_id => comment.id), :remote => true  %></div>
	
	<% elsif current_user.voted_against?(comment) %>
	
		<div id="vote_up"><%= link_to '+', comment_reverse_vote_down_path(:comment_id => comment.id), :remote => true  %></div>
		<h5><%= comment.votes_up - comment.votes_down %></h5>
		<div id="vote_down"><%= link_to '-', comment_remove_vote_down_path(:comment_id => comment.id), :style => 'color:orange;', :remote => true   %></div>
	
	<% else %>
	
		<div id="vote_up"><%= link_to '+', comment_vote_up_path(:comment_id => comment.id), :remote => true  %></div>
		<h5><%= comment.votes_up - comment.votes_down %></h5>
		<div id="vote_down"><%= link_to '-', comment_vote_down_path(:comment_id => comment.id), :remote => true  %></div>
		
	<% end %>

<% else %>

	<div id="vote_up" class="login"><%= link_to '+', new_session_path %></div>
	<h5><%= comment.votes_up - comment.votes_down %></h5>
	<div id="vote_down" class="login"><%= link_to '-', new_session_path  %></div>

<% end %>