<% title "#{@comment.user.login} comment for #{@comment.video.title}" %>
<ul id="comments">
<li>
<div id="<%= @comment.id %>_votes" class="comment_votes video_votes"><%= render :partial => "comments/votes", :locals => { :comment => @comment } %></div>
<div class="comment_data">
	<h4><%= @comment.message %></h4>
	<h5>
		<%= link_to @comment.user.login, user_path(@comment.user) %> 
		<%= time_ago_in_words(@comment.created_at) %> ago <br />
		<%= link_to "video", video_path(@comment.video) %>
	</h5>
</div>
</li>