<% title "Comment" %>

<p>
  <strong>Message:</strong>
  <%= @comment.message %>
</p>
<p>
  <strong>Video:</strong>
  <%= @comment.video_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
