<% title "#{@user.login}" %>

<h2><%= @user.login %></h2>
<p>
  <strong>Video Karma:</strong>
  <%= @user.video_karma %>
</p>

<p>
  <strong>Comment Karma:</strong>
  <%= @user.comment_karma %>
</p>

<h2>Videos Submitted by <%= @user.login %> (<%= @videos.count %>)</h2>

<ul id="video">
		<%= render @videos %>
</ul>

