<% if current_user %>

	<% if current_user.voted_for?(video) %>
	
		<div id="vote_up"><%= link_to '+', video_remove_vote_up_path(:video_id => video.id), :style => 'color:orange;', :remote => true %></div>
		<h5><%= video.votes_up - video.votes_down %></h5>
		<div id="vote_down"><%= link_to '-', video_reverse_vote_up_path(:video_id => video.id), :remote => true  %></div>
	
	<% elsif current_user.voted_against?(video) %>
	
		<div id="vote_up"><%= link_to '+', video_reverse_vote_down_path(:video_id => video.id), :remote => true  %></div>
		<h5><%= video.votes_up - video.votes_down %></h5>
		<div id="vote_down"><%= link_to '-', video_remove_vote_down_path(:video_id => video.id), :style => 'color:orange;', :remote => true   %></div>
	
	<% else %>
	
		<div id="vote_up"><%= link_to '+', video_vote_up_path(:video_id => video.id), :remote => true  %></div>
		<h5><%= video.votes_up - video.votes_down %></h5>
		<div id="vote_down"><%= link_to '-', video_vote_down_path(:video_id => video.id), :remote => true  %></div>
		
	<% end %>

<% else %>

	<div id="vote_up" class="login"><%= link_to '+', new_session_path %></div>
	<h5><%= video.votes_up - video.votes_down %></h5>
	<div id="vote_down" class="login"><%= link_to '-', new_session_path  %></div>

<% end %>