<% title "Videos" %>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Description</th>
    <th>Provider</th>
    <th>Height</th>
    <th>Width</th>
    <th>Embed</th>
    <th>Thumb</th>
    <th>Thumb Height</th>
    <th>Thumb Width</th>
  </tr>
  <% for video in @videos %>
    <tr>
      <td><%= video.url %></td>
      <td><%= video.title %></td>
      <td><%= video.description %></td>
      <td><%= video.provider %></td>
      <td><%= video.height %></td>
      <td><%= video.width %></td>
      <td><%= video.embed %></td>
      <td><%= video.thumb %></td>
      <td><%= video.thumb_height %></td>
      <td><%= video.thumb_width %></td>
      <td><%= link_to "Show", video %></td>
      <td><%= link_to "Edit", edit_video_path(video) %></td>
      <td><%= link_to "Destroy", video, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Video", new_video_path %></p>
