<% title "Video" %>

<h2>
<%= @video.title %>
</h2>

<%= raw(@video.embed) %>

<div id="video_votes" style="float:right;">
	<%= render :partial => 'votes' %>
</div>

<p>
  <%= @video.description %>
</p>

<p>
	Submitted by:
	<%= @video.user.login %>
</p>

<h2>Comments</h2>

<% if current_user %>
	<%= form_for @comment do |f| %>
		<%= f.hidden_field :video_id, :value => @video.id %>
	  <p>
	    <%= f.text_area :message, :placeholder => "New Comment...", :style => "height:60px;" %>
	  </p>
	  <p><%= f.submit %></p>
	<% end %>
<% end %>

<ul>
	<% @video.comments.each do |comment| %>
		<li>
			<h4><%= comment.message %></h4>
			<h5><%= comment.user.login %></h5>
		</li>
	<% end %>
</ul>