<% title "Video" %>

<div id="<%= @video.id %>_votes" style="position:absolute;margin-left:-50px;" class="video_votes">
	<%= render :partial => 'votes', :locals => { :video => @video } %>
</div>

<h2 class="video">
	<%= @video.title %>
</h2>

<div style="float:left;">

	<%= raw(@video.embed) %>

<p id="meta">
  <%= @video.description %><br />
	Submitted by:
	<%= link_to @video.user.login, user_path(@video.user) %> <%= time_ago_in_words(@video.created_at) %> ago
	
		<%= link_to "edit" edit_video_path(@video) %>
	
</p>

<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4dec161d36779167"></script>

<h2 id="comments_count">Comments (<%= @video.comments.count %>)</h2>

<% if current_user %>
	<%= form_for @comment, :remote => true do |f| %>
		<%= f.hidden_field :video_id, :value => @video.id %>
	  <p>
			<%= f.label "Respond to this video" %><br />
	    <%= f.text_area :message, :placeholder => "New Comment...", :style => "height:60px;" %>
	  </p>
	  <p><%= f.submit "New Comment", :class => 'button' %></p>
	<% end %>
<% else %>
	<%= form_for @comment, :remote => true do |f| %>
		<%= f.hidden_field :video_id, :value => @video.id %>
	  <p>
			<%= f.label "Respond to this video" %><br />
	    <%= f.text_area :message, :placeholder => "New Comment...", :style => "height:60px;", :class => 'login' %>
	  </p>
	  <p><%= f.submit "New Comment", :class => 'button login' %></p>
	<% end %>
<% end %>


<ul id="comments">
	<%= render :partial => 'comment', :collection => @comments %>
</ul>

</div>

<%= render :partial => "ads" %>