<% title "Video" %>

<div id="<%= @video.id %>_votes" style="position:absolute;margin-left:-25px;">
	<%= render :partial => 'votes', :locals => { :video => @video } %>
</div>

<h2>
<%= @video.title %>
</h2>

<%= raw(@video.embed) %>

<p>
  <%= @video.description %>
</p>

<p>
	Submitted by:
	<%= link_to @video.user.login, user_path(@video.user) %> <%= distance_of_time_in_words_to_now(@video.created_at) %> ago
</p>

<p>Algorithm Ranking: <%= @video.ranking(@video.votes_up, @video.total_votes, 0.1) %></p>

<h2>Comments (<%= @video.comments.count %>)</h2>

<% if current_user %>
	<%= form_for @comment, :remote => true do |f| %>
		<%= f.hidden_field :video_id, :value => @video.id %>
	  <p>
	    <%= f.text_area :message, :placeholder => "New Comment...", :style => "height:60px;" %>
	  </p>
	  <p><%= f.submit %></p>
	<% end %>
<% end %>

<ul id="comments">
	<%= render :partial => 'comment', :collection => @video.comments.reverse %>
</ul>