<div class="fixed">
	
	<div id="login">
	
		<ul>
			<h3>Sign In/Up with:</h3>
			<li id="facebook"><%= link_to "Facebook", "/auth/facebook" %></li>
			<li id="gmail"><%= link_to "Gmail", "/auth/google" %></li>
			<li id="twitter"><%= link_to "Twitter", "/auth/twitter" %></li>
			<li id="foursquare"><%= link_to "Foursquare", "/auth/foursquare" %></li>
			<li id="netflix"><%= link_to "Netflix", "/auth/netflix" %></li>
			<li id="vimeo"><%= link_to "Vimeo", "/auth/vimeo" %></li>
		</ul>
	
	</div>

</div>