<!DOCTYPE html>
<html>
<head>
  <title>Telerise <%= content_for?(:title) ? yield(:title) : "" %></title>
  <%= stylesheet_link_tag "css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
	<%= javascript_include_tag "rails.js" %>
	<%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<% flash.each do |name, msg| %>
    <%= content_tag :div, raw(msg), :id => "flash_#{name}", :class => "flash" %>
  <% end %>

	<% if current_user %>
		<%= render :partial => 'layouts/new_video'%>
	<% else %>
		<%= render :partial => 'layouts/login'%>
	<% end %>
	
	<div id="container">
		<header>
			<% if current_user %>
				<h2 id="new-video"><%= link_to "submit new video", new_video_path %></h2>
			<% else %>
				<h2 class="login"><%= link_to "submit new video", new_video_path %></h2>
			<% end %>
			<%= render :partial => 'layouts/nav' %>
			<h1><%= link_to "Telerise", root_path %></h1>
		</header>
		<%= yield %>
	</div>

</body>
</html>
