<!DOCTYPE html>
<html>
<head>
  <title>Telerise</title>
  <%= stylesheet_link_tag "css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<h1><%= link_to "Telerise", root_path %></h1>
	</header>
	<nav>
		<% if current_user %>
	  	Welcome <%= current_user.name %>!
	  	<%= link_to "Sign Out", signout_path %>
		<% else %>
	  	<%= link_to "Sign In", new_session_path %>
		<% end %>
	</nav>
	
	<div class="clear"></div>
	
	<div id="container">
		<%= yield %>
	</div>

</body>
</html>
