<!DOCTYPE html>
<html>
<head>
  <title>Telerise <%= content_for?(:title) ? yield(:title) : "" %></title>
  <%= stylesheet_link_tag "css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
	<%= javascript_include_tag "http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js "%>
	<%= javascript_include_tag "rails.js" %>
	<%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
	<link rel="icon" type="image/png" href="http://www.telerise.tv/favicon.png">
<meta name="google-site-verification" content="bMNd7KPaus-17y2GE_t50MPoZpA-MM_uzkSnK4779JA" />
<meta name="description" content="Telerise: The coolest video sharing site on the interwebs." />
	<meta property="og:title" content="Telerise <%= content_for?(:title) ? yield(:title) : "" %>" />
	<meta property="og:site_name" content="<%= request.url %>" />
	<meta property="og:image" content="http://www.telerise.tv/images/share.png" name="thumb" /> 
	<link rel="image_src" href="http://www.telerise.tv/images/share.png" />

</head>
<body>
	
	<% flash.each do |name, msg| %>
    <%= content_tag :div, raw(msg), :id => "flash_#{name}", :class => "flash" %>
  <% end %>

	<% if current_user %>
		<%= render :partial => 'layouts/new_video'%>
	<% else %>
		<%= render :partial => 'layouts/login'%>
	<% end %>
	
	<div id="container">
		<header>
			<% if current_user %>
				<h2 id="new-video"><%= link_to "submit new video", new_video_path %></h2>
			<% else %>
				<h2 class="login"><%= link_to "submit new video", new_video_path %></h2>
			<% end %>
			<%= render :partial => 'layouts/nav' %>
			<h1><%= link_to "Telerise", root_path %></h1>
		</header>
		<%= yield %>
	</div>
	
	<footer>
		<ul>
			<li>©<%= Time.now.year %> <%= link_to "Telerise", root_path %></li>
			<li><%= link_to_unless_current "Newest", root_path %></li>
			<li><%= link_to_unless_current "Currently Popular", currently_popular_path %></li>
			<li><%= link_to_unless_current "All Time Best", best_path %></li>
			<li><%= link_to_unless_current "Controversial", controversial_path %></li>
		</ul>
	</footer>

</body>
</html>
