<!DOCTYPE html>
<html>
<head>
  <title>Telerise <%= content_for?(:title) ? yield(:title) : "" %></title>
  <%= stylesheet_link_tag "css" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
	<%= javascript_include_tag "rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<header>
		<h1><%= link_to "Telerise", root_path %></h1>
	</header>
	<nav>
		<% if current_user %>
	  	Welcome <%= current_user.name %>! 
			<%= link_to "My Profile", user_path(current_user) %> | 
	  	<%= link_to "Sign Out", signout_path %> |
			<%= link_to "Submit New Video", new_video_path %>
		<% else %>
	  	<%= link_to "Sign In", new_session_path %>
		<% end %>
	</nav>
	
	<div class="clear"></div>
	
	<div id="container">
		<% flash.each do |name, msg| %>
      <%= content_tag :div, raw(msg), :id => "flash_#{name}" %>
    <% end %>
		<%= yield %>
	</div>

</body>
</html>
